body
{
    background: url("./images/city.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container
{
  color: whitesmoke;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  
}

.one 
{
  border: 2px solid white;
  width: 100%;
  max-width: 56%;
  box-sizing: border-box;
  height: 55vh;
  position: relative;
  padding-top: 1rem;

}
.time
{
    float:left;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}

.date
{
    float:left;
    position: absolute;
    bottom: 0.8rem;
    left: 1rem;
}
.location
{
    float:right;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
}
#temp
{
    float: right;
    position: absolute;
    top: 2.7rem;
    right: 4.1rem;
}

.anime
{
  margin-left: 16rem;
}
#searchInput
{
    font-size: 14px;
}
#btn
{
    cursor: pointer;
    border: 1px solid wheat;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 14px;
}

#btn:hover
{
    background-color: rgb(69, 67, 67);
    border: 1px solid rgb(246, 244, 244);
}

.ull
{
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap; 
    color: whitesmoke;
    margin-top: 1rem;
    align-items: center;
}

.listContain
{
    border: 2px solid white;
    border-radius: 5px;
    width: 20vw;
    height: 16vh;
    font-size: 14px;
    margin-top: 1rem;
    margin-left: 9rem;
    background-color: rgb(66, 64, 64);    
}

.location-not
{
  font-size: 40px;
  color: rgb(245, 245, 194);
  font-weight: bolder;
}

@media (max-width:768px)
{
  .listContain
{
    width: 27vw;
    font-size: 11px; 
    margin-left: 5rem;  
    box-sizing: border-box;
    height: 15vh;
    margin-top: 1rem;
    word-spacing: 5px;
    padding-top: 1rem;
}
 .ull
 {
  margin: 0px;
  padding-left: 6px;
 }
 .anime
  {
    margin-left: 8rem;
  }
  
  .ulList
  {
    margin-left: 2px;
  }
}

@media (min-width:1024px)
{
  .listContain
  {
      width: 27vw;
      font-size: 11px; 
      margin-left: 7rem;  
      box-sizing: border-box;
      height: 17vh;
      margin-top: 1rem;
      word-spacing: 3px;
      font-size: 13px;
  }
  .ull
 {
   padding-left: 2px;
 }
 .ulList
  {
    margin-left: 0.8rem;
  }
  .anime
  {
    margin-left: 14rem;
  }
}

@media (max-width:468px)
{
  .listContain
  {
      width: 35vw;
      margin-left: 2rem;
      height: 19vh;
      font-size:9px
  }
  body 
  {
    box-sizing: border-box;
    
  }
   
  #searchInput
{
    font-size: 10px;
}
#btn
{
    cursor: pointer;
    border: 1px solid wheat;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 10px;
}
 .one{
  height: 60vh;
}
.ulList
 {
   margin-left: 3px;
 }
 .anime
  {
    margin-left: 3rem;
    font-size:10px;
  }

   .container
   {
    font-size: 9px;
    box-sizing: border-box;
   }
   
   .location
   {
    right: 3px;
   }
   #temp
   {
    right: 3px;
   }
  
}

@media (max-width:400px)
{
  .container
{
  padding-top:2rem;
  
}

.one 
{
  border: 1px solid whitesmoke;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  height: 60vh;
  padding-top: 2rem;

}

.anime
  {
    margin-left: 6rem;
  }
  .location
   {
    right: 2rem;
    padding-top: 2rem;
   }
   #temp
   {
    right: 2rem;
    padding-top: 2rem;
   }

   .listContain
  {
      width: 60%;
      margin-left: 4rem;
      height: 18vh;
      font-size:10px
  }
}

